# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

#Data

/myproject/settings.py
inicio/static/
static/
media/
!media/profiles/no_image.png
db.sqlite3
inicio/migrations/
inicio/__pycache__/
inicio/templatetags/__pycache__/
empleados/migrations/
empleados/__pycache__/
myproject/__pycache__/